* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --title-color: #5a3795;
    --bg-color-body: #eee;
}

body {
    background-color: var(--bg-color-body);
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    max-width: 900px;
}

#title, .subtitle, .post_title {
    color: var(--title-color);
    margin-bottom: 15px;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

.post_title {
    font-size: 16px;
}

.post {
    background-color: #fff;
    margin-bottom: 15px;
    padding: 15px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-align: justify;
    text-transform: capitalize;
}

.post_image {
    border-radius: 5px;
    margin-bottom: 15px;
    width: 100%;
}

p {
    font-weight: 300;
}

footer ul {
    align-content: space-between;
    display: flex;
    justify-content: center;
    list-style: none;
    text-align: center;
}

footer ul li {
    margin: 30px;
}